*{
    margin: 0;
    padding: 0;
}
.body-background {
    background-color: #E3EEF2;
    color: #7ea0b9;
    font-family: sans-serif;
    font-size: 1em;
    justify-content: center;
}



.title {
    font-weight: 600;
    color: #00749b;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
}


.subtitle {
    color: #7ea0b9;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 1em;
    font-size: 25px;
}

.background {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display:table;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 5%;
}

.logo{ 
    width: 150px;
    height: auto;
}

.field {
    margin-bottom: 1em;
}

label.seletor {
    text-align: center;
}

.field ul {
    display: block;
    list-style: none;
    text-align: center;

}

.field li {
    display: inline-block;
    text-align: -webkit-match-parent;
    margin: 2%;
}

.field input, .field textarea {
    border:0px;
    border-bottom: 1px solid #264653;
    display:inline-flex;
    padding: 0.2em;
    width: 83%;
}

.box {
  
    background:
      linear-gradient(to right, #264653 2px, transparent 2px) 0 0,
      linear-gradient(to right, #264653 2px, transparent 2px) 0 100%,
      linear-gradient(to left, #264653 2px, transparent 2px) 100% 0,
      linear-gradient(to left, #264653 2px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, #264653 2px, transparent 2px) 0 0,
      linear-gradient(to bottom, #264653 2px, transparent 2px) 100% 0,
      linear-gradient(to top, #264653 2px, transparent 2px) 0 100%,
      linear-gradient(to top, #264653 2px, transparent 2px) 100% 100%;
  
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 60%;
    margin: 0 auto;
}

.box:hover {
    background-size: 60px 60px ;
    transition: ease-in-out 0.5s;
}

.button {
    font-size: 1.2em;
    background-color: #00749b;
    margin-bottom: 1em;
    padding: 0.2em;
    color: #fff;
    border-radius: 0.2rem;
    top: 90%;
    left: 25%;
}

.button:hover{
    background-color: #264653;
    transition: 0.5s ease-in-out;
}

/* success screen */

.success-text{
    text-align: center;
    color: #7ea0b9;
}

.success-text-decoration {
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00749b;
}

.icon-send {
    width: 50px;
    height: auto;
    margin: 5%;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 15px;
}

.icon-inline {
    margin: 0 auto;
    justify-content: center;
    display: -webkit-inline-box;
    vertical-align: middle;
}

.urgency {
    color: #fff;
    width: 80px;
    border-radius: 0.4rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.urgency:hover {
    width: 90px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.4s ease-in-out;
}

.message {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    text-align: justify;
    font-style: italic;
    font-size: 12px;
    text-indent: 20px;
    
}
